/* Классическа очистка базовых стилей */ 
* {
    margin: 0; /* Убираем внешние отступы у всех элементов */
    padding: 0; /* Убираем внутрение оступы у всех элементов */
    font-family: sans-serif; /* Устанавливаем базовый шрифт для всех элементов */
}
/* Задаём задний фон для всей страницы */
body {
    background-color: rgb(213, 252, 252); /* Цвет фона */
}
/* Задаём стили для верхний полосы с названием и автором */
header {
    background-color: rgba(0, 174, 255, 0.815); /* Цвет заднего фона */
    padding: 20px; /* Внутрение отступы */
    color: white; /* Цвет текста */
    font-weight: bold; /* Толщина текста */
    
    align-items: center; /* Центрируем по высоте */
    display: flex; /* Строим элементы по порядку */
}
/* Стили для текста с именем атора */
.author {
    position: fixed; /* Фиксируем позицию относительно страницы */
    right: 20px; /* Отступ справа на 20 пикселей */
}
/* Стили для остального контейнера */
.container {
    height: 90vh; /* Относительная высота */
    display: flex; /* Выстраиваем элементы по порядку (здесь используется для правильного центрирования окна) */
}
/* Стили для окна с генерацией */
.qrgen {
    background-color: white; /* Цвет заднего фона */
    width: fit-content; /* Ширина окна с генерацией (по ширене контента) */
    padding: 30px; /* Внутрение отступы */
    margin: auto; /* Внешние отступы (здесь auto центрирует относительно страницы) */
    border-radius: 15px; /* Скругление окна */
    display: flex; /* Выстраиваем элементы друг за другом */
    flex-direction: column; /* Делаем вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы по горизонтали */
}
/* Стили для верхнего текста в окне */
.qrgtpt {
    color: rgba(0, 174, 255, 0.815); /* Цвет текста */
    margin-bottom: 20px; /* Отступ снизу текста */
}
/* Стили для текстового поля */
.inptxt {
    border: 0; /* Убираем границы текстового поля */
    background-color: rgb(224, 224, 224); /* Цвет фона */
    padding: 10px; /* Внутрение отступы */
    border-radius: 5px; /* Скругление текстового поля */
    outline: none; /* Убираем черную границу при нажании на текстовое поле */
    color: rgba(0, 174, 255, 0.815); /* Цвет текста */
    font-weight: bold; /* Толщина текста */
    margin-bottom: 20px; /* Отступ снизу */
    width: 100%; /* Ширина (здесь 100% значит занимает всю ширину окна) */
}
/* Стили для кнопки "Сгенерировать" */
.genbutton {
    padding: 10px; /* Внутрение отступы */
    border-radius: 5px; /* Скругление кнопки */
    border: 0; /* Убираем границы */
    background-color: rgba(0, 174, 255, 0.815); /* Цвет фона */
    color: white; /* Цвет текста */
    font-weight: bold; /* Толщина текста */
    width: 107%;  /* Ширина элемента */
}
/* Стили для кнопки "Сгенерировать" при нажатии */
.genbutton:active {
    background-color: rgba(108, 253, 120, 0.815); /* Цвет фона */
}
/* Стили для кнопки "Сгенерировать" при наведении */
.genbutton:hover {
    background-color: rgba(123, 213, 255, 0.815); /* Цвет фона */
    transition:  0.3s; /* Время анимации (плавная смена фона) */
}
/* Стили для контейнера QR-кода */
.qrcontainer {
    margin-top: 10px; /* Отступ снизу */
}
/* Стили для кнопки "Скачать" */
#download {
    display: none; /* Скрываем кнопку (чтобы её не было при загрузке страницы (появляется при генерации QR-кода см. script.js)) */
    padding: 10px; /* Внутрение отступы */
    border-radius: 5px; /* Скругление кнопки */
    border: 0; /* Убираем границы */
    background-color: rgba(0, 174, 255, 0.815); /* Цвет фона */
    color: white; /* Цвет текста */
    font-weight: bold; /* Толщина текста */
    width: 107%; /* Ширина элемента */
}
/* Стили для кнопки "Скачать" при наведении */
#download:hover {
    background-color: rgba(123, 213, 255, 0.815); /* Цвет фона */
    transition:  0.3s; /* Время анимации (плавная смена фона) */
}